/*  */
.prooutbox{overflow:visible;}
.toprightT{overflow:visible;}
.mySelect{overflow:visible;}
.xmu {width:950px; height:290px; clear:both; margin:0 auto; padding:20px 0 0 0;}
.xmu00 {width:563px;}
.xmu00 .xmu00_left {float:left}
.xmu00 .xmu00_right {float:right}
.xmu01 {width:312px; height:290px; float:left;}
.xmu01 ul li {width:100%; height:auto;}
.xmu01 .xmu_01 {width:300px; height:300px; border:2px solid #b8b8b8; overflow:hidden;}
.xmu01 .xmu_01 img {width:300px; height:300px;}
.xmu01 .xmu_01 .xm_browser {width:312px;float:left;margin-top:5px;text-align:center}
.xmu01 .xmu_02 {width:312px; height:60px; line-height:60px; font-size:14px; text-align:right;}
.xmu02 {width:555px; height:290px; padding:12px 40px 30px 3px; float:right;}
.xmu02 ul li {width:100%; line-height:25px; clear:both; height:50px}
input:focus{outline:none} 
.xmu02 ul li .tz{ height:34px; line-height:34px; color:#FFF; float:left;  background:#2ea4d2; -webkit-border-radius: 2px; -moz-border-radius:2px;  font-size:14px; text-align:center; border:1px solid #0083b6; display:block; border-radius:2px;}
.xmu02 ul li .tz:hover{text-decoration:none;  height:34px; line-height:34px;  color:#FFF;  background:#3bb3e2; display:block;}
.xmu02 h3 {width:100%; height:23px; line-height:23px; font-weight:bold; font-size:24px;}
.xmu02 .xm_01 {width:100%; height:42px; clear:both; color:#2DA6D3; font-weight:bold;font-size:24px;}
.xmu02 .xm_02 {width:65px; height:21px; line-height:21px; float:left; padding:21px 20px 0 0; font-size:18px;font-size:24px; text-align:center;}
.xmu02 .xm_03 {width:180px; height:21px; line-height:21px; float:left; padding:21px 0 0 0;font-size:24px; text-align:center;}
.xmu02 .xm_04 {width:160px; height:21px; line-height:21px; float:left; padding:21px 0 0 0;text-align:center;font-size:24px;}
.xmu02 .xm_05A {width:80px; height:42px; line-height:21px; float:right;text-align:right;font-size:16px;font-size:18px; text-align:center;}
.xmu02 .xm_05 {width:100%; height:30px; line-height:30px; font-size:14px; clear:both; color:#858585; font-weight:bold;}
.xmu02 .xm_06 {width:65px; line-height:30px; float:left;text-align:center; padding:0 20px 0 0;}
.xmu02 .xm_07 {width:180px; line-height:30px; float:left; text-align:center;}
.xmu02 .xm_08 {width:160px; line-height:30px; float:left; text-align:center;}
.xmu02 .xm_08A {width:80px; line-height:30px; float:right; text-align:center;}
.xmu02 .xm_09 {width:545px; height:50px; line-height:20px; background:#F2F2F2; clear:both; padding:10px 0 0 10px; color:#858585; font-size:12px;}
.xmu02 .tz_01 {width:200px; height:25px; float:left;}
.xmu02 .tz_02 {width:100px; height:12px; float:left;  border:1px solid #ccc; margin:6px 0 0 0;  overflow:hidden;}
.xmu02 .tz_03 {width:100px;  height:12px; float:left; overflow:hidden; }
.xmu02 .tz_04 {height:12px; float:left; background:#4fa4e7; overflow:hidden;}
.xmu02 .tz_05 {width:215px; height:30px; line-height:30px; padding:1px 0 0 5px; border:1px solid #ccc; margin-right:10px;_margin-right:5px;font-size:14px; color:#858585;}
.xmu02 .plan {color:#404AC5; text-decoration:underline; float:left; margin:6px 0px 0px 20px;}
.xmu02 ul li img {padding:15px 0 0 0;cursor: pointer;}
.xmu02 .size {font-size:14px; color:#858585; width:100%; height:33px; padding-top:2px}
.warning{margin-top: 2px;margin-right:5px; COLOR: red; width:132px; text-align:right }
.jiedai {height:auto; clear:both;}
.jiedai01 {width:100%; height:86px; border-bottom:1px solid #d3d3d3;  margin:0 auto;position:absolute;top:0;left:0;}
.nologinBro {width:100%;padding-top:16px;text-align:center}
.oldjiedai01{height:50px;position:relative;}
.jiedai01 h2 {background:url(project/rightline.gif) right 32px no-repeat;border-bottom:2px solid #2fa4d0;height:85px;text-align:center; line-height:85px; padding:0 40px 0 40px; float:left; font-weight:normal;font-size:18px;}
.oldjiedai01 h2{background:none;border-right:none;height:48px; line-height:48px; padding:0 22px 0 22px;}
.jiedai01 h2#rightest{background:none;}
.projectDetailLeft .jiedaiToFix{background:#fff;z-index:99;position:fixed;top:0;}
.jiedai01 h2 .num_tip{color:#fff;font-size:12px;height:12px;line-height:12px;font-weight:normal;display:inline-block;padding:1px 3px;background:#32c694;border-radius:2px;margin:4px;vertical-align:2px;*position:absolute;*line-height:16px;*vertical-align:baseline;*padding:0px 3px 3px;_padding:0px 3px;}
.jiedai01 h3,.jiedai01 h2.etc {color:#989898; float:left; font-weight:normal;font-size:18px;}
.oldjiedai01 h3,.oldjiedai01 h2.etc{color:#989898; height:49px; line-height:49px; float:left; font-weight:normal;font-size:18px;}
.jiedai01 h2.etc {color:#6f7281;border:0px;cursor:pointer;}
.jiedai01 h2.etc .num_tip{color:#fff;font-size:12px;height:12px;line-height:12px;font-weight:normal;display:inline-block;padding:1px 3px;background:#32c694;border-radius:2px;margin:4px;vertical-align:2px;*position:absolute;*line-height:16px;*vertical-align:baseline;*padding:0px 3px 3px;_padding:0px 3px;}
.jiedai01 h5 {float:left; padding:16px 0 0 10px; font-size:14px;}
.itproject_etc{width:902px;margin:0px auto 33px; padding-top:27px; padding-bottom:60px;}
.itproject_etc .nonotice{height:96px;background:url(project/nonotice.png) center 0 no-repeat;padding-bottom:40px;}
.itproject_etc h3{font-size:18px;position:relative;margin-top:-4px;}
.f_right h3{height:24px;}
#imgMoreId{float:right; font-size:13px;}
.itproject_etc h3 a:hover,.itproject_etc .proj_cont a:hover{color:#2fa3d6;}
.itproject_etc table{width:100%;}
.itproject_etc .table898{width:902px;margin-left:-2px;margin-top:5px;}
.itproject_etc .table442{width:442px;margin-left:-2px;margin-top:5px;}
.itproject_etc th{background:#e1e5e6;height:36px;font-size:14px;font-weight:normal;}
.itproject_etc td{text-align:center;height:25px;}
.itproject_etc .table898 td{height:30px;font-size:13px;}
.itproject_etc .fdetails{width:902px; color:#333; }
.itproject_etc .fdetails table{width:100%;margin:20px auto; border-collapse:collapse;}
.itproject_etc .fdetails th,td{padding:0; padding:10px 20px;}
.itproject_etc .fdetails td{text-align:left; height:30px;}
.itproject_etc .fdetails .riskMesuare{width:100%}
.itproject_etc .fdetails .title,.itproject_etc .fdetails .yktitle1{ font-size:18px;font-weight:bold; margin-bottom:24px;margin-top:26px; background:#e5f8ff; height:26px; line-height:26px;}
.itproject_etc .fdetails .title,.itproject_etc .fdetails .yktitle1 .sptitle{height:26px;padding:0 22px;line-height:26px;background:#23b6ec;font-size:16px;text-align:center;color:#fff;float:left}
.itproject_etc .fdetails .infolist{letter-spacing:1px;width:858px; padding-bottom:24px; margin-left:16px; border-bottom:1px dashed #dadada;}
.itproject_etc .fdetails .infolist .lt1 p,.itproject_etc .fdetails .infolist .lt2 p,.itproject_etc .fdetails .infolist .lt3 p,.itproject_etc .fdetails .infolist .lt4 p{line-height:25px; font-size:13px; color:#333;}
.itproject_etc .fdetails .infolist .lt1{width:300px; float:left;}
.itproject_etc .fdetails .infolist .lt2{width:520px; float:left;}
.itproject_etc .fdetails .infolist .lt3{width:300px; float:left;}
.itproject_etc .fdetails .infolist .lt4{width:270px; float:left;}
.itproject_etc .fdetails .infolist .rz{height:50px; line-height:50px;color:#000; font-size:15px; font-weight: bold;}
.itproject_etc .fdetails .infolist .tb span{width:84px; height:32px; float: left; text-align:left;}
.itproject_etc .fdetails .infolist .tb span.attestationIcon{background:url(project/attestationIcon.png) center center no-repeat;display:inline-block;margin-right:59px;}
.itproject_etc .fdetails .infolist .tb span.icon1{background-position:0 0;width:26px;height:30px;}
.itproject_etc .fdetails .infolist .tb span.icon2{background-position:0 -30px;width:26px;height:30px;}
.itproject_etc .fdetails .infolist .tb span.icon3{background-position:0 -60px;width:30px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.icon4{background-position:0 -92px;width:21px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.icon5{background-position:0 -124px;width:33px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.icon6{background-position:0 -157px;width:29px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.icon7{background-position:0 -189px;width:29px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.icon8{background-position:0 -221px;width:40px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.iconUn1{background-position:-52px 0;width:26px;height:30px;}
.itproject_etc .fdetails .infolist .tb span.iconUn2{background-position:-53px -30px;width:26px;height:30px;}
.itproject_etc .fdetails .infolist .tb span.iconUn3{background-position:-50px -60px;width:30px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.iconUn4{background-position:-51px -92px;width:21px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.iconUn5{background-position:-48px -124px;width:33px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.iconUn6{background-position:-50px -157px;width:29px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.iconUn7{background-position:-51px -189px;width:29px;height:32px;}
.itproject_etc .fdetails .infolist .tb span.iconUn8{background-position:-47px -221px;width:40px;height:32px;}
.itproject_etc .fdetails .infolist .tb font{width:32px; height:32px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; border-radius:4px;line-height:32px; color:#fff; font-size:16px; display: block;text-align:center;}
.itproject_etc .fdetails .infolist .tb .co1{background:#c9e4d1;}
.itproject_etc .fdetails .infolist .tb .co2{background:#b8e1ce;}
.itproject_etc .fdetails .infolist .tb .co3{background:#bedcb9;}
.itproject_etc .fdetails .infolist .tb .co4{background:#e9e4f3;}
.itproject_etc .fdetails .infolist .tb .co5{background:#dfdeef;}
.itproject_etc .fdetails .infolist .tb .co6{background:#e5ebee;}
.itproject_etc .fdetails .infolist2{padding-bottom:24px;}
.itproject_etc .fdetails .qaboat,.itproject_etc .fdetails .yktitle2{width:858px; line-height:27px; margin:26px 0px 0px 16px; font-size:15px; font-weight: bold;}
.itproject_etc .fdetails .ykcontent{width:858px; margin-left:16px; line-height:24px; font-size:13px; color:#666;letter-spacing:1px;}
.scenebanner{position:relative; margin:31px 0px 58px 16px;}
.mediaauto{width:760px; height:160px; overflow:hidden; position:relative; margin:auto; margin-left:52px;}
.medialogo {width:3930px;  margin-bottom:27px; position:absolute; left:0px; overflow:hidden;}
.medialogo li{width:200px; height:160px; float:left; position: relative; display: inline; overflow:hidden;}
.medialogo li img{vertical-align: middle; border:none;width:160px;height:160px;}
.medialogo li font{width:144px; padding: 8px 8px; display:none; filter:alpha(opacity=80);-moz-opacity:0.8; opacity:0.8; line-height: 18px; position:absolute; bottom:0px; left:0px; color:#fff; background:#000;}
.link_prev{width:15px; height:30px; position:absolute; left:0px; top:69px;  background:url(project/infoleft.png) center center no-repeat; }
.link_next{width:15px; height:30px; background:#dadada; position:absolute; right:0; top:69px; background:url(project/inforight.png) center center no-repeat;}
.mediab{width:934px; padding:38px 0px 38px 26px; margin:0 auto; margin-bottom:50px; background:#dcdcdc;}
.mediab .mediaauto{width:916px; height:48px; margin-left:0px; overflow:hidden; position:relative;}
.medialogob {width:3930px; margin-bottom:27px; position:absolute; left:0px; overflow:hidden;}
.medialogob li{width:172px; height:45px; border:1px solid #eee; float:left; margin-right:12px; display: inline; overflow:hidden;}
.medialogob li a{ display:block; background:url(index/medialogos.png) no-repeat;}
.introHead{width:960px;position: relative;margin:0 auto;background: #fff;}
.yk_state{width:14px;position: absolute;top:34px;left:-26px;background: #E74109;text-align: center;padding:14px 6px;line-height: 14px;}
.yk_state2{background:#415cff;}
.yk_state3{background:#2ea4d2;}
.yk_state4{background:#da8a01;}
.yk_state5{background:#1f925b;}
.yk_state6{background:#afafaf;}
.yk_state span{color:#fff;font-size: 14px;}
#needsmallnumber{font-style:normal}
.companyname{width:896px;height:143px;margin:0 auto;border-bottom:1px solid #E5EBED;position: relative;}
.companyname h1{color:#333333;margin-top:33px;padding:5px 0;font-size: 24px;float:left;font-weight: normal;}
.companyname h1 span{display:inline-block;border-radius:2px;height:32px; line-height:32px; width:32px;background:#f4b75f;color:#fff;font-size:18px; text-align:center;}
.companyname ul{list-style: none;margin-top:6px;clear:left;float:left;}
.companyname ul li{float:left;height:16px;padding:4px;padding-right:12px;}
.companyname ul li img{height:16px;float:left;}
.companyname ul li span{padding-left: 6px;height:16px;line-height: 16px;text-align: center;font-size: 14px;float:left;color:#656565;}
.companyname ul li span a{color:#2DA3D1;}
.companyname .littletip{position: absolute;bottom:8px;right:0px;widows: 208px;height:20px;font-size: 12px;line-height: 20px;color:#999999;float:left;}
.companyname .littletip a{padding-left:14px;color:#3BA9E5;}
.infoList2{padding-bottom:50px;}
.oldinfoList2{padding:0;}
.infoList2_L{width:472px;padding-left:30px;float:left;}
.infoList2_LT{border-bottom:1px solid #EDEDED;height:127px;width:472px;}
.infoList2_LT_intro{height:64px;padding:38px 0 25px 42px;width:200px;float:left;}
.infoList2_LT_intro2{height:64px;padding:38px 0 22px 42px;float:left;}
.infoList2_LT_line{height:46px;width:0;margin:46px 8px 32px 48px;border-right:1px solid #EDEDED;float:left;display: inline;}
.infoList2_LT_intro_p1{height:20px;line-height: 20px;font-size: 12px;color:#999999;font-weight:bold;}
.infoList2_LT_intro_p2{height:30px;font-size: 30px;padding:3px 0;vertical-align: bottom;color:#2DA3D1;}
.infoList2_LT_intro_p2 span{font-size: 20px;}
.infoList2_LT_intro_p2 span.infoList2_LT_intro_p2_hot{font-size: 30px;color:#E7420A;}
.infoList2_LB{padding:25px 0 20px 16px;}
.infoList2_LB_inner{line-height: 48px;font-size: 13px;color:#333333;}
.infoList2_LB_innerspe{border-top:1px solid #EDEDED;padding-top:20px;margin-left:16px;}
.infoList2_LB div span{width:90px;text-align: left;}
.infoList2_LB .xq span,.infoList2_LB .xq i{float:left ;font-style: normal;}
.infoList2_LB_inner .fl_r{border:none;float:left;width:360px;height:auto;padding:0;margin:0;}
.infoList2_LB_inner div{height:28px;text-align: center;margin:8px 6px;float:left;border:1px solid #fff;transition:1s;}
.infoList2_LB_inner div a{display: block;height:26px;vertical-align: middle;color:#E7420A;border:1px solid #E7420A;line-height: 26px;padding:0 10px;}
.infoList2_LB_inner :hover{border-color:#E7420A;}
.infoList2_LB_inner .blue{color:#2DA3D1;}
.infoList2_LB_number{color:#2DA3D1;}
.infoList2_LB_title{font-size: 13px;color:#999999;float:left;}
.infoList2_LB_word{float:left;padding-right:54px;}
.infoList2_R{margin:38px 48px 0 0;width:280px;float:right;background:#F4F4F4;padding:0 40px 38px 40px;border:1px solid #d3d3d3;}
.infoList2_RT{border-bottom:1px solid #D9D9D9;}
.infoList2_RTBox{height:27px;line-height:27px;font-size: 13px;}
/* .infoList2_RTBox span{color:#979797;float:left;} */
/* .infoList2_RTBoxR{text-align: right;float:right;position:relative;} */
#RTboxR_tips{position:absolute;display:block;height:12px;width:12px;left:70px;top:11px;background:url(project/greyquestionmark.png) 0 0 no-repeat;}
/* .infoList2_RTBoxR span{font-size: 16px;color:#333333;padding-left:14px;} */
.infoList2_RTBoxR .moneynumber{color:#E7420A;font-size: 16px;}
.infoList2_RTBoxR .moneycanuse{font-size: 16px;}
.moneypersentin{width:100px;background:#D1D1D1;height:10px;float:left;margin-top:10px;}
.moneypersentout{width:80px;background:#3BA8E5;height:10px;float:left;}
/* .infoList2_RB{padding-top:33px;} */
.topright .already{margin-top:80px;margin-left:2px;height:44px;background:url(project/greencircle.png) 0 0 no-repeat;padding-left:60px;line-height:44px;}
.infoList2_RTBox a{color:#00b0eb;}
.limitthirty{height:auto;padding-top:42px;}
.limitthirty .wordp{line-height:18px;font-size:12px;padding-top:8px;text-align:center;color:#333;}
.limitthirty .wordp span{display:inline-block;font-size:14px;vertical-align: top;padding-left:9px;}
.limitthirty .wordp img{height:18px;display:inline-block;vertical-align: top;}
.limitthirty .wordp2{line-height:34px;height:34px;font-size:14px;padding-top:15px;text-align:center;color:#666;}
.limitthirty .countbox{width:175px;margin:0 auto;}
.limitthirty .countnum{text-align:center;height:56px;font-weight:bold;}
.limitthirty .countnum .xbox div,.limitthirty .countnum .xbox{float:left;}
.limitthirty .countnum .xbox{width:39px; height:56px; color:#2a2522;position: relative;line-height: 56px;border-radius: 2px;overflow: hidden;border-bottom:1px solid #2ebaec;margin-right:1px;font-weight:bold;}
.limitthirty .countnum .xdian{width:14px;color:#2a2522;color:#2a2522;position: relative;}
.limitthirty .countnum .xboxt{width:39px;height:28px;background:#e2e2e2;position: absolute;top:0;left:0;}
.limitthirty .countnum .xboxb{width:39px;height:28px;background:#f5f5f5;position: absolute;bottom:0;left:0;}
.limitthirty .countnum .xboxm{width:39px;height:56px;position: relative;line-height: 56px;font-size: 36px;text-align: center;}
.limitthirty .countword{line-height:34px;height:34px;font-size:14px;color:#666;}
.limitthirty .countword span{float:left;text-align:center;width:87px;}

.onlinetimeconut{width:270px;height:56px;text-align:center;height:56px;font-weight:bold;font-family: Helvetiva Neue LT,Arial;}
.onlinetimeconut .xbox div,.onlinetimeconut .xbox{float:left;}
.onlinetimeconut .xbox{width:39px; height:56px; color:#2a2522;position: relative;line-height: 56px;border-radius: 2px;overflow: hidden;border-bottom:1px solid #2ebaec;margin-right:1px;font-weight:bold;}
.onlinetimeconut .xdian{width:14px;color:#2a2522;color:#2a2522;position: relative;}
.onlinetimeconut .xboxt{width:39px;height:28px;background:#e2e2e2;position: absolute;top:0;left:0;}
.onlinetimeconut .xboxb{width:39px;height:28px;background:#f5f5f5;position: absolute;bottom:0;left:0;}
.onlinetimeconut .xboxm{width:39px;height:56px;position: relative;line-height: 56px;font-size: 36px;text-align: center;}

.topright .already span{font-size:24px;color:#333333;float:none;width:auto;}
.topright .limitthirty span{font-size:13px;margin-left:0;}
.topright .limitthirty span i{color:#E7420A;font-style:normal}
.topright .alreadypeopleNum{line-height:20px;text-align:left;color:#333333;font-size:12px;padding:6px 0 60px 62px;color:#666;}
.topright .alreadypeopleNum span{color:#3ba9e6;float:none;}
/* #Campaigns{text-align:center;line-height:32px;margin-left:-20px} */
/* .infoList2_RB div{--height:32px;line-height: 32px;} */
/* .infoList2_RB span{font-size: 14px;float:left;width:76px;color:#333333;} */
.infoList2_RB .p7 span{width:280px;color:#999999;font-size:12px;text-align:center;}
/* .infoList2_RB input{height:22px;border:none;outline: none;padding:6px 11px 5px 0;text-align: right;font-size: 24px;width:100px;line-height: 24px;} */
.infoList2_RB .moneyuseR{float:right;width:auto;}
.moneyused{height:35px;}
.moneyused input{width:144px;float:left;color:rgb(152, 152, 152);border:1px solid #d3d3d3;}
.moneyused i{float:left;font-style:normal;color:#353535;font-size:14px;}
#myinvestdebt{color:#333333}
.infoList2_RB_RedBag{position: relative;display: none;line-height: 24px;height:36px;padding-top:28px;}
/* .infoList2_RB p{text-align: center;color:#999999;font-size: 12px;padding:15px 0 0 0;height:17px;} */
.infoList2_RB p .font_skyblue{float:none;font-size:12px;color:#2fa3d6;}
.infoList2_RB_RedBag .mySelect{float:right;width:232px;height:32px;background: #fff;text-align: center;border:1px solid #d3d3d3;}
.infoList2_RB_RedBag img{position: absolute;right:6px;top:13px;}
/* .infoList2_RB .forsure{width:280px;height:32px;background:#E7420A;text-align: center;font-size: 16px;color:#fff;margin-top:38px;border-radius: 2px;padding:0;cursor: pointer;display:block;line-height:32px;} */
a.forlookfor{background:#3ba9e6;border-color:#3ca0d8;}
a.fornotice{background:#3ba9e6;border-color:#3ca0d8;}
.goingonbox{height:128px;padding-top:45px;padding-bottom:20px;background:url(project/goingonboxline.png) 134px 70px no-repeat;}
.goingonbox .goingT{font-size:12px;color:#999;height:36px;line-height:36px;text-align:center;}
.goingonbox .goingM{font-size:18px;color:#666;height:14px;line-height:14px;text-align:center;padding-bottom:12px;weight:bold;}
.goingonbox .goingB{line-height:24px;font-size:24px;color:#666;text-align:center;height:24px;font-weight:blod;}
.goingonbox .goingB span{font-size:13px;color:#666666;float:none;line-height:13px;}
.goingonbox .goingL{width:134px;background:url(project/timeline.png) 54px 0 no-repeat;height:80px;float:left;padding-top:30px;position:relative;}
.goingonbox .goingR{width:135px;background:url(project/peoplenum.png) 54px 0 no-repeat;height:80px;float:left;padding-top:30px;position:relative;}
.itproject_etc .box{width:398px;height:876px;font-size:14px;padding:20px;}
.itproject_etc .box.f_left .item {margin:20px 10px;cursor:pointer;}
.itproject_etc .box.f_left .item span{display:inline-block;width:31px;height:37px;border-radius:2px;text-align:center;padding:12px 15px;}
.itproject_etc .box.f_left .item font{display:inline-block;margin-left:30px;color:#979797;font-size:13px;width:284px;line-height:23px;vertical-align:-2px;*vertical-align:11px;}
.itproject_etc .box.f_left .item:hover font{color:#2fa3d6;}
.jxl_mx .item {margin:20px 30px;width:740px;}
.jxl_mx .item span{display:inline-block;width:31px;height:37px;border-radius:2px;text-align:center;padding:12px 15px;float:left;font-size:14px;}
.jxl_mx .item font{display:inline-block;margin-left:30px;color:#979797;font-size:13px;float:left;padding:5px 0px;width:600px;}
.itproject_etc .box.f_left .item font a{color:#979797;}
.itproject_etc .box.f_left .item font a:hover{color:#2fa3d6;}
.itproject_etc .box.f_left .com_tit{font-size:16px;margin:20px 10px 10px;}
.itproject_etc .box.f_left .com_tit img{width:29px;height:29px;margin:-4px 2px 0px 10px;float:right;}
.itproject_etc .box.f_left .com_tit .com_name{float:right;width:257px;}
.itproject_etc .box.f_left .loaner {padding:18px;*padding:14px;}
.itproject_etc .box.f_left .loaner div{width:50%; font-size:14px; float:left;}
.itproject_etc .box.f_left .loaner div font{width:50%;display:inline-block;color:#979797;text-align:center;}
.itproject_etc .box.f_right span font{font-size:14px;}
.itproject_etc .box.f_right .cert_p {display:inline-block;width:96px;height:103px;text-align:center;}
.itproject_etc .box.f_right .cert_p img{width:61px;height:40px;margin:25px 0px 0px;}
.itproject_etc .box.f_right .cert_p font{height:50px;line-height:50px;display:inline-block;padding-left:17px;background:url(project/complete.png) no-repeat left center;}
.itproject_etc .box.f_right .cert_p font.no{background:url(project/uncomplete.png) no-repeat left center;}
.itproject_etc .box.f_right .cert_e {display:inline-block;width:128px;height:117px;text-align:center;}
.itproject_etc .box.f_right .cert_e span{width:57px;height:57px;line-height:54px;display:inline-block;margin-top:17px;border-radius:11px;font-size:29px;color:#fff;font-weight:bold;}
.itproject_etc .box.f_right .cert_e font{height:50px;line-height:50px;display:inline-block;padding-left:17px;background:url(project/complete.png) no-repeat left center;}
.itproject_etc .box.f_right .cert_e font.no{background:url(project/uncomplete.png) no-repeat left center;}
.itproject_etc .box.f_right .cert_d {border:1px solid #cbcbcb;width:107px;height:100px;display:inline-block;margin:10px 10px;}
.itproject_etc .box.f_right .cert_d div{height:30px;line-height:30px;font-size:12px;border-bottom:1px solid #cbcbcb;}
.itproject_etc .box.f_right .cert_d img{width:100px;height:100px;} 
.itproject_etc #entp_logo{width:48px;height:48px;display:block;margin:5px auto;}
.itproject_etc .baozhang{width:74px;height:20px;line-height:18px;_line-height:22px;background:#2fa3d6;margin:0px 30px;color:#fff;text-align:center;border-radius:2px;}
.itproject_etc .proj_cont{width:276px;float:left;word-break:break-all;line-height:22px;font-size:14px;margin-top:5px;}
.itproject_etc .cert{width:160px;height:118px;float:left;margin:15px 6px 0px;text-align:center;}
.itproject_etc .cert .certico{height:88px;}
.itproject_etc .cert .certico img{margin:10px auto;}
.itproject_etc .cert .certtext{height:28px;line-height:28px;font-size:14px;margin-top:2px;}
.itproject_etc .cert .certtext img{vertical-align:-3px;margin-right:10px;}
.itproject_etc.prod_resume{color:#979797;width:100%;font-size:13px;line-height:25px;margin:0px;text-indent:0px;}
.itproject_etc.prod_resume .cont{margin:25px 75px 50px;}
.itproject_etc.prod_resume .cont div{text-indent:28px;}
.itproject_etc.prod_resume .cont p{text-indent:0px;}
.itproject_etc.prod_resume .cont font{font-weight:bold;color:#353535;font-size:13px;}
.itproject_etc.prod_resume .cont h4{color:#2ea4d2;font-size:16px;font-weight:bold;margin:35px 0px 10px;}
.itproject_etc .tip{text-align:center;height:50px;line-height:50px;border-top:1px solid #d3d3d3;}
.itproject_etc .tip a{color:#979797;}
.itproject_etc .tip a:hover{color:#2fa9e6;}
.jiedai02 {width:900px; height:auto; overflow:hidden; margin:auto;}
.jiedai02 ul {float:left; height:auto;}
.jiedai02 ul li {height:25px; line-height:25px; color:#595858; font-size:13px; clear:both; overflow:hidden;}
.jiedai02 .u1 {width:223px; height:290px; float:left; margin-right:2px;}
.jiedai02 .u1 li{padding-left:36px; height:35px; line-height:35px;}
.jiedai02 .u1 li span{color:#272b75;}
.jiedai02 .u2 li span{color:#272b75;}
.jiedai02 .u3 li span{color:#272b75; float: left;}
.jiedai02 .u3 li span.text{width:160px;}
.jiedai02 .u4 li span{color:#272b75;}
.jiedai02 .u1 .titlelist{padding-left:0px; width:100%; background:#e1e5e6; height:36px; line-height:36px; text-align:center; margin-bottom:10px;}
.jiedai02 .u1 .titlelist h3{height:36px; width:100%; margin:0px; line-height:36px; text-align:center; }
.jiedai02 .u2 {width:223px; height:290px; float:left; margin-right:2px;}
.jiedai02 .u2 li{ padding-left:36px; height:35px; line-height:35px;}
.jiedai02 .u2 .titlelist{padding-left:0px; width:100%;  background:#e1e5e6; height:36px; line-height:36px; text-align:center; margin-bottom:10px;}
.jiedai02 .u2 .titlelist h3{height:36px; width:100%; margin:0px;  line-height:36px; text-align:center;}
.jiedai02 .u3 {width:263px; height:290px; float:left; margin-right:2px;}
.jiedai02 .u3 li{ padding-left:26px; height:auto; line-height:35px;}
.jiedai02 .u3 .titlelist{padding-left:0px; width:100%;  background:#e1e5e6; height:36px; line-height:36px; text-align:center;  margin-bottom:10px; border-right:1px solid #eaeaea;}
.jiedai02 .u3 .titlelist h3{height:36px; width:100%; margin:0px;  line-height:36px; text-align:center;}
.jiedai02 .u4 {width:183px; height:290px; float:left;  _width:184px;}
.jiedai02 .u4 li{ padding-left:36px; height:35px; line-height:35px;} 
.jiedai02 .u4 .titlelist{padding-left:0px; width:100%;  background:#e1e5e6; height:36px; line-height:36px; text-align:center;  margin-bottom:10px;}
.jiedai02 .u4 .titlelist h3{height:36px; width:100%; margin:0px;  line-height:36px; text-align:center;}
.jiedai02 .db {width:950px; height:auto; float:left;}
.jiedai02 ul li h3 {color:#3d3c3c; font-size:14px; float:left; line-height:30px;}
.jiedai02 .zi {letter-spacing:20px;}
.jiedai03 {width:100%; height:auto; clear:both; margin:0 auto; font-size:13px; margin-bottom:20px;margin-top:-20px;_margin-top:0px;}
.jiedai03 ul {width:100%; height:auto; clear:both; border-top: none;}
.jiedai03 ul li {width:100%; height:35px; line-height:35px; clear:both; float:left;overflow:hidden;}
.jiedai03 ul li span {float:left;}
.jiedai03 .curr{background:#f5fbfb;}
.jiedai03 .jd_00 {width:100%; line-height:35px; }
.jiedai03 .jd_00 span{color: #3d3c3c; font-size: 14px; background:#e1e5e6; text-align:center;}
.jiedai03 .jd_01,.jiedai03 .jd_03,.jiedai03 .jd_06,.jiedai03 .jd_02,.jiedai03 .jd_04,.jiedai03 .jd_05 {width:125px; padding:0px 10px; text-align:center;}
.jiedai03 .jd_01,.jiedai03 .jd_03,.jiedai03 .jd_06{display:none;}
.jiedai03 .jd_02,.jiedai03 .jd_04{margin-right:2px;}
.jiedai03 .jd_05{width:126px;padding:0px 10px;margin-right:0px;_margin-right:-4px;}
.jiedai03 .jd_04,.jiedai03 .jd_05{text-align:center;}
.jiedai03x {width:100%; height:auto; clear:both; margin:0 auto; font-size:13px;margin-top:0px;}
.jiedai03x h3 {color:#3d3c3c; height:36px; font-size:16px; float:left; font-weight:bold; line-height:30px;}
.jiedai03x ul {width:100%; height:auto; clear:both; border-top: none;}
.jiedai03x ul li {width:100%; height:35px; line-height:35px; clear:both; float:left;}
.jiedai03x ul li span {float:left;}
.jiedai03x .curr{background:#f5fbfb;}
.jiedai03x .jd_00 {width:100%; line-height:35px; background:#e1e5e6; border-bottom:#e3e3e3;}
.jiedai03x .jd_00 span{color: #3d3c3c; font-size: 14px; }
.jiedai03x .jd_01,.jiedai03x .jd_03,.jiedai03x .jd_06,.jiedai03x .jd_02,.jiedai03x .jd_04,.jiedai03x .jd_05 {text-align:center;}
.jiedai03x .jd_01{width:86px;}
.jiedai03x .jd_02{width:186px;}
.jiedai03x .jd_03{width: 130px; margin-right:76px; text-align: right;}
.jiedai03x .jd_04{width:206px;}
.jiedai03x .jd_05{width:166px;}
.jiedai03x .jd_06{width:86px;}
.jiedai03x_s ul {width:100%; height:auto; clear:both; border-top: none;}
.jiedai03x_s ul li {width:100%; height:35px; line-height:35px; clear:both; float:left;}
.jiedai03x_s ul li span {float:left;}
.jiedai03x_s .curr{background:#f5fbfb;}
.jiedai03x_s .jd_00 {width:100%; line-height:35px; background:#e1e5e6; border-bottom:#e3e3e3;}
.jiedai03x_s .jd_00 span{color: #3d3c3c; font-size: 14px; }
.jiedai03x_s .jd_01,.jiedai03x_s .jd_03,.jiedai03x_s .jd_06,.jiedai03x_s .jd_02,.jiedai03x_s .jd_04,.jiedai03x_s .jd_05 {text-align:center;}
.jiedai03x_s .jd_01{width:110px;}
.jiedai03x_s .jd_03{width:207px; text-align:center;}
.jiedai03x_s .jd_04{width:176px; text-align: right; margin-right: 50px;}
.jiedai03x_s .jd_05{width:306px;}
.jiedai03x_s .jd_06{width:110px;}
.jiedai03x .jd2_01,.jiedai03x .jd2_03,.jiedai03x .jd2_06,.jiedai03x .jd2_02,.jiedai03x .jd2_04,.jiedai03x .jd2_05,.jiedai03x .jd2_07 {text-align:center;}
.jiedai03x .jd2_01{width:86px;}
.jiedai03x .jd2_02{width:126px;}
.jiedai03x .jd2_03{width:166px;}
.jiedai03x .jd2_04{width:166px;}
.jiedai03x .jd2_05{width:156px;}
.jiedai03x .jd2_06{width:86px;}
.jiedai03x .jd2_07{width:150px;}
.jiedai04 {width:100%; height:70px; padding:20px 0 0 0; margin:0 auto; clear:both;}
.jiedai04 dl {width:65px; height:70px; text-align:center;float:left; padding:0 15px 0 0;}
.jiedai04 dl img {padding: 0 0 5px 0;}
.jiedai05 {width:950px; height:auto; padding:0 0 10px 0; clear:both; margin:0 auto;}
.jiedai05 ul {width:475px; height:auto; float:left;}
.jiedai05 ul li {width:100%; line-height:20px; float:left; clear:both; padding:5px 0 5px 0; font-size:14px}
.jiedai05 ul li h3 {color:#3d3c3c; font-size:20px; float:left; font-weight:bold; line-height:30px;}
.jiedai05 ul li a {text-decoration:underline;}
.jiedai05 ul li a:hover {color:red;}
.jiedai06 {width:950px; height:auto; line-height:30px; font-size:14px; margin:0 auto; clear:both; padding:10px 0 0 0;}
/*.pinglun*/
.pinglun {width:100%; height:auto; clear:both; padding:20px 0 0 0;}
.pinglun dl {width:100%; height:auto; clear:both;}
.pinglun .pl_01 {width:74px; height:74px; float:left;}
.pinglun .pl_01 img {width:74px; height:74px;} 
.pinglun dt {width:855px; height:auto; float:right; padding:0 3px 0 0; line-height:18px; font-size:14px;}
.pinglun dt h4 {width:100%; line-height:35px; font-size:14px; text-align:right; color:#cecece;}
.pinglun dt h4 span {float:left; font-weight:bold; color:#183b91; font-size:16px;}
.diyawu {width:1010px; height:300px;clear:both; margin:0 auto; overflow:hidden;}
#wrap {	OVERFLOW: hidden}
#load {WIDTH: 1010px; DISPLAY: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT:240px;}
#feature {POSITION: relative; BORDER-LEFT: #999 0px dotted;}
#feature .button {POSITION: absolute; WIDTH:1010px;}
#feature .prev {TEXT-INDENT: -9999px; WIDTH:22px; DISPLAY: block; BACKGROUND: url(project/feature_left.gif) left top; FLOAT: left; HEIGHT:48px;  TOP:-120px; z-index:0; position:relative; float:left; overflow:hidden;}
#feature .next {TEXT-INDENT: -9999px; WIDTH:22px; DISPLAY: block; BACKGROUND: url(project/feature_right.gif) right top; FLOAT: right; HEIGHT:48px; TOP:-120px;overflow:hidden;}
#feature .prev:hover {BACKGROUND-POSITION: left bottom;}
#feature .next:hover {BACKGROUND-POSITION: right bottom;}
.featureUL {POSITION: relative; LIST-STYLE-TYPE: none; WIDTH: 2800px; float:left; overflow:hidden;}
.featureBox img {width:215px; height:215px;}
.featureBox {WIDTH: 215px; HEIGHT: 215px; OVERFLOW: hidden; padding:20px 10px 0 0;  text-align:center; float:left;}
#botton-scroll {Z-INDEX: 0;MARGIN: 0px auto; WIDTH:950px; FLOAT: left; HEIGHT:240px;}
#block {Z-INDEX: 0; POSITION: relative; WIDTH:950px;HEIGHT: 240px; FONT-SIZE: 70%; OVERFLOW: hidden; margin:0 auto;}
#block .box {WIDTH: 230px; FLOAT: left; HEIGHT: auto;}
#block .box .feature-title {FONT-SIZE: 140%; FONT-WEIGHT: normal;}
#block .box .feature-thumb {WIDTH: 230px;FLOAT: left; HEIGHT: auto;}



.prjSure{width:490px;height:330px;font-size:14px;}
.prjSure .td01{width:100px;text-align:right;}
.prjSure .td02{width:150px;color:#2ea3cf;font-size:18px;font-weight:800}
.prjSure .td021{width:150px;}
.prjSure .td03{width:100px;text-align:right;}
.prjSure .td04{width:140px;color:#2ea3cf;}
.prjSure .td041{width:140px;}
.prjSure .input02 {width:80px; padding:3px 0 0 0; height:26px; line-height:22px; font-size:14px;  border:1px solid #ccc;}
.prjSure .input01 {cursor: pointer; width:220px; text-align:center; line-height:30px; color:#fff;height:30px;font-size:15px; border:0px;background:url(blue_button.png) no-repeat;}
.prjlist {width:960px; height:auto; margin:0 auto; }
.prjlist01 {width:960px; height:auto; clear:both;}
.prjlist02 {width:960px; height:40px;  border-bottom:1px solid #172c7f; margin:0 auto; margin-bottom:14px; }
.prjlist02 h3 {border-bottom:5px solid #172c7f; height:35px;padding:0 2px 0 2px; float:left; font-weight:bold;font-size:24px;}
.prjlist03 {width:960px; height:auto; clear:both; margin:0 auto; padding:15px 0 0 0; font-size:12px;}
.prjlist03 h3 {color:#3d3c3c; height:36px; font-size:16px; float:left; font-weight:bold; line-height:30px;}
.prjlist03 ul {width:958px; height:auto; border:1px solid #ccc; clear:both;}
.prjlist03 ul li {width:958px; height:auto; line-height:20px; border-top:1px solid #ccc; padding:10px 0px 10px 0px; clear:both; float:left;}
.prjlist03 ul li span {float:left;}
.prjlist03 dl {width:140px; height:auto; float:right;}
.prjlist03 dl dt { height:20px; line-height:20px;  font-size:12px;padding:4px 0 0 4px;}
.prjlist03 dl dt span {float:left;font-size:12px; text-align:left;height:20px; overflow:hidden;}
.prjlist03 .pl_01 {width:100%; line-height:35px; background:#4B494A; padding:0px;  border-top:0px;color:#fff;}
.prjlist03 .pl_02 {width:210px;  margin-left:10px; display:inline; overflow:hidden;}
.prjlist03 .pl_03 {width:60px; padding:0px 0px 0px 30px;}
.prjlist03 .pl_04 {width:90px; text-align:center;}
.prjlist03 .pl_05 {width:100px; text-align:center;}
.prjlist03 .pl_06 {width:100px; text-align:center;}
.prjlist03 .pl_07 {width:140px;  float:left;}
.prjlist03 .pl_08 {width:100px; text-align:left; padding-left:40px;}
.prjlist03 .pl_09 {width:60px; text-align:center;}
.prjlist03 ul li .hkz{ background:#afafaf; border:1px solid #848484; display:block; width:60px; height:34px; line-height:34px; text-align:center; color:#FFF;  -webkit-border-radius: 2px;-moz-border-radius:2px;}
.prjlist03 ul li .hkz:hover{background:#b3b3b3; border:1px solid #848484; display:block;}
.prjlist03 ul li .ym{ background:#17a866; border:1px solid #848484; display:block; width:60px; height:34px; line-height:34px; text-align:center; color:#FFF;  -webkit-border-radius: 2px;-moz-border-radius:2px;}
.prjlist03 ul li .ym:hover{background:#31b176; border:1px solid #848484; display:block;}
.prjlist03 .pl_09 .js{width:60px; height:34px; line-height:34px; color:#FFF;  background:#2ea4d2; -webkit-border-radius: 2px; -moz-border-radius:2px;  font-size:14px; text-align:center; border:1px solid #0083b6; display:block; border-radius:2px;}
.prjlist03 .pl_09 .js:hover{text-decoration:none; width:140px; height:34px; line-height:34px; color:#FFF;  background:#3bb3e2; display:block;}
.pl_09 input {padding:0px 0px 0px 0px;}
.prj_jb {width:22px; height:20px; line-height:20px; text-align:center; margin-top:12px; color:#fff; background:#c1c1c1;  display:block;}
.prj_p1 {border:1px solid #ccc; width:60px; height:8px; background:#f7f7f7; border-radius:2px; margin-top:4px;  -webkit-border-radius:2px; -moz-border-radius:2px;  border-radius:2px; float:right; }
.prj_p4 {width:52px; height:32px; text-align:center; color:#fff; background:url(touzi_btn.jpg) no-repeat; border:0px;}
.prj_p5 {width:52px; height:32px; text-align:center; color:#fff; background:url(huankuan_btn.jpg) no-repeat; border:0px;}
.prj_p6 {width:52px; height:32px; text-align:center; color:#fff; background:url(yiman_btn.jpg) no-repeat; border:0px;}
.itproject{ height:auto; width:960px; margin:20px auto 33px auto; zoom:1;}
.itproject_2{padding-top:87px; }
.itproject .infoList{ width:884px; padding:0px 42px 1px 32px; background:#f2f2f2; height:74px; }
.itproject .infoList span{ width:288px; float:left; padding-top:30px; font-size:16px; color:#353535; font-weight:600; }
.itproject .infoList span font{ font-size:18px; color:#2fa3d6;}
.itproject .infoList img{ height:48px; overflow:hidden; float:right; padding-top:14px;}
.itproject .infoList2 .m1{ width:632px; float:left; margin-top:1px;}
.itproject .infoList2 .m1 li{width:530px; margin:auto; border-bottom:1px solid #eeeeee; vertical-align:middle; text-align:center; overflow:hidden;}
.itproject .infoList2 .m1 li .b2{ background:url(project/baologo2.jpg) no-repeat 155px 25px; }
.itproject .infoList2 .m1 li .b2 b{font-weight:normal; font-size:16px; color:#282a75;}
.itproject .infoList2 .m1 li .b1 b{font-weight:normal; font-size:16px; color:#282a75;}
.itproject .infoList2 .m1 li span{float:left;display:inline-block; width:auto; height:75px; line-height:75px; font-size:14px; color:#363636;position:relative;}
.itproject .infoList2 .m1 li span.line55{ line-height:50px; }
.itproject .infoList2 .m1 li span.line55.time{text-align:center;font-size:16px;padding-left:0px;}
.itproject .infoList2 .m1 li span div{line-height:normal;text-align:center;color:#979797;font-size:12px;margin-top:-8px;}
.itproject .infoList2 .m1 li span div font{line-height:normal;text-align:center;color:#979797;font-size:12px;margin-top:-8px;background:url(icons/circle_question.png) no-repeat left center;padding-left:17px;}
.itproject .infoList2 .m1 li span .font_12{ color:#979797; font-size:12px; margin:0px 0px 0px 4px;}
.itproject .infoList2 .m1 li span.sp3{width:175px;} 
.itproject .infoList2 .m1 li span.sp4{width:129px;} 
.itproject .infoList2 .m1 li .right{float:right;}
.itproject .infoList2 .m1 li .v_line{height:35px;line-height:35px;margin:20px 0px;border-right:2px solid #eeeeee;}
.itproject .infoList2 .m1 li .progress{width:78px;height:10px;line-height:15px;margin:32px 0px;_margin:38px 0px;background:#dde4ea;float:left;clear:both;font-size:0;overflow:hidden;position:absolute;top:-11px;_top:-19px;left:7px;}
.itproject .infoList2 .m1 li .progress_rate{height:10px;line-height:10px;background:#3ba9e6;border-right:1px solid #fff;clear:both;font-size:0;overflow:hidden;}
.itproject .infoList2 .m1 li.big {height:120px;margin:auto;font-weight:bold;}
.itproject .infoList2 .m1 li.big div{text-align:center;}
.itproject .infoList2 .m1 li.big span{ float:none; display:inline-block; width:auto; font-size:14px; color:#363636; margin:23px 43px 0px 20px; border:0px;}
.itproject .infoList2 .m1 li.big span font{ color:#2fa3d6; font-size:38px;font-weight:normal; height:auto; line-height:normal; }
.itproject .infoList2 .m1 li.big span font.font_24{font-size:24px;}
.itproject .infoList2 .m1 li.big span .prod_type{width:40px;height:40px;line-height:40px;color:#fff;border-radius:7px;font-size:20px;margin:5px auto;}
.itproject .infoList2 .m1 li.big span div{background:url(icons/circle_question.png) no-repeat left center;padding-left:17px;width:66px;height:auto;margin:auto;*margin:0px;line-height:normal; font-weight:normal; color:#979797; letter-spacing:2px;}
.itproject .infoList2 .m1 li.proj_brief{border:0px;margin:10px auto;line-height:24px;font-size:14px;height:auto;}
.itproject .infoList2 .m1 li.proj_brief a{color:#989898;}
.itproject .infoList2 .m1 li.proj_brief a:hover{color:#2fa3d6;}
.itproject .infoList2 .m1 li.proj_brief .content{color:#989898;}
.itproject .infoList2 .m2{ width:280px; float:left; min-height:290px; margin-top:25px; }
.itproject .infoList2 .m2 .p{ color:#353535; height:42px; line-height:42px; font-size:24px; text-align:right; position:relative;}
.itproject .infoList2 .m2 .cur_balance{position: relative; color:#e7420a;}
.itproject .infoList2 .m2 .p b{ font-size:12px;}
.itproject .infoList2 .m2 .p a{color:#2fa3d6;}
.itproject .infoList2 .m2 .p .tit{color:#979797; font-size:14px; vertical-align:3px; float:left; letter-spacing:2px;}
.itproject .infoList2 .m2 .p .point{ font-size:14px; position:relative;}
.itproject .infoList2 .m2 .p .yuan{color:#353535;margin-left:15px; font-size:12px;}
.itproject .infoList2 .m2 .p .yuan_2{color:#353535;font-size:12px; height:20px; line-height:20px; color:#999; position: absolute; right:0px; bottom:-10px;}
.itproject .infoList2 .m2 .p .login_tip{position:relative;top:2px;*top:-5px;font-size:12px;}
.itproject .infoList2 .m2 .p .input{ border:1px solid #adadad; height:33px; width:134px; display:inline-block; position:absolute; left:128px; top:5px;}
.itproject .infoList2 .m2 .p .input input{ width:132px; float:left; border:0px; height:32px; line-height:33px; font-size: 24px; padding:1px 0px 0px 0px;color:#353535; text-align:right; padding-right:1px;}
.itproject .infoList2 .m2 .p .input span{ float:right; height:32px; line-height:32px;}
.itproject .infoList2 .m2 .p .input p{ width:14px; padding:1px;  float:right; border:1px solid #cbcbcb; margin-left:12px; background:#fff;}
.itproject .infoList2 .m2 .p .input .b1{  margin-left:18px; display:inline;}
.itproject .infoList2 .m2 .p .input img{ cursor:pointer; width:14px; height:14px; overflow:hidden; display:block;}
.itproject .infoList2 .m2 .p7{text-align: right; font-size:12px; }
.itproject .infoList2 .m2 .p7 span{ font-size:12px; color:#929292;}
.itproject .infoList2 .m2 .p8{height:32px; line-height:32px; background:#e7420a; text-align:center; margin-top:12px; border-radius:2px;}
.itproject .infoList2 .m2 .p8 a{height:32px; font-size:15px; color:#fff; display:block;}
.itproject .infoList2 .m2 .p8 a:hover{ background:#ee6725; border-radius:2px;}	
.debtoutbox{width:990px;margin:0 auto;position:relative;}
.prooutbox{width:990px;margin:0 auto;position:relative;}
.boxtop{height:450px;width:990px;}
.topleft{width:606px;height:450px;background:#fff;float: left;padding-left:45px;padding-right:15px;position: relative;border-radius: 3px;box-shadow: 2px 2px 2px #d9d9de;}
.toptitle{height:32px;line-height:32px;padding-top: 20px;font-size: 16px;}
.toptitlef{padding-right:20px;height:32px;float:left;}
.toptitleline{width:1px;border-right:1px solid #eee;height:20px;line-height:20px;margin-top:6px;float:left}
.toptitle img{float:left;height:32px;padding-right:10px;}
.toptitle a{float:left;text-decoration: none;}
.toptitlef a{color:#00b0eb;}
.toptitleb a{color:#666;}
.toptitleb{height:32px;float:left;padding-left:18px;}
.debtoutbox .projectname{padding:14px 0 14px 20px;font-size: 20px;color:#333;line-height: 32px;height:32px;font-weight: normal;}
.debtoutbox .projectname em{display:inline-block;height:30px;width:30px;line-height:30px;font-style:normal;background:#f4b75f;text-align:center;border-radius:5px;border:1px solid #f6c276;color:#fff;font-weight:bold;font-size:16px;margin-left:10px;}
.debtoutbox .projectdetail{padding:25px 0 11px 0;background: url(project/topdebtbg.jpg) no-repeat;height:106px;width:575px;border-radius: 3px;}
.debtoutbox .projectdetail div{text-align: center;height:106px;width:287px;float:left;}
.projectdetailf{border-right:1px solid #dde9f1;}
.debtoutbox .upnum{font-size: 30px;height:48px;line-height: 48px;color: #00b0eb;vertical-align: bottom;font-weight:bold;}
.prooutbox .projectname{padding:20px;font-size: 20px;color:#333;line-height: 20px;height:20px;font-weight: normal;}
.prooutbox .projectdetail{padding:20px 0 18px 0;background: url(project/topbg.jpg) no-repeat;height:65px;width:575px;border-radius: 3px;}
.prooutbox .projectdetail div{text-align: center;height:52px;width:287px;float:left;}
.prooutbox .upnum{font-size: 30px;height:30px;line-height: 30px;color: #2ea4d2;vertical-align: bottom;font-weight:bold;font-family: Helvetiva Neue LT,Arial;}
.upnum em{font-size: 18px;font-style: normal;line-height: 18px;font-weight:bold;}
.upnum i{font-size:18px;color:#e7420a;font-style: normal;line-height: 18px;}
.upnum b{font-size:18px;line-height: 18px;font-family:STHeiti,"Microsoft Yahei", "Î¢ÈíÑÅºÚ", tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;}
.prooutbox .downword{font-size:12px;padding-top:10px;color:#999;line-height: 12px;height:12px;}
.debtoutbox .middleword{font-size:14px;color:#999;line-height: 14px;height:14px;padding-bottom:22px}
.debtoutbox .downword{font-size:12px;color:#999;line-height: 22px;height:22px;}
.debtoutbox .downword em{color:#333;font-style:normal;}
.debtoutbox .topcontent{padding-left:20px;padding-top:20px;}
.debtoutbox .topcontentboxs{float:left;width:280px;}
.debtoutbox .topcontentboxssp{width:auto;}
.debtoutbox .topcontentboxssp .topcontentboxr{padding-left:5px;}
.prooutbox .topcontent{padding-left:20px;padding-top:7px;}
.topcontentbox{line-height: 32px;font-size: 14px;color:#999;zoom:1;}
.topcontentboxl{float:left;}
.prooutbox .topcontentboxr{padding-left:20px;width:460px;zoom:1;float:left;color:#333;}
.debtoutbox .topcontentboxr{padding-left:20px;float:left;color:#333;}
.topcontentboxr a{color:#2ea4d2;text-decoration: none;}
a.activitybox{font-size:12px;margin:5px 8px 5px 0;float:left;height:20px;line-height: 20px;padding:0 15px;border:1px solid #f29778;border-radius: 10px;text-decoration: none;color:#e7420a;display: inline;white-space:nowrap;}
a.activitybox:hover{height:18px;line-height: 18px;border-width: 2px;margin:5px 7px 5px -1px;border-color:#e7420a;}
.protocoltext{color:#999;position: absolute;font-size:12px;right:30px;bottom:25px;}
.protocoltext a{color:#00b0eb;text-decoration: none;}
.topright{width:314px;height:450px;background:#fff;float:right;border-radius: 3px;box-shadow: 2px 2px 2px #d9d9de;background: #f7f7f7;}
.toprightT{width:270px;padding:0 22px;height:409px;border-radius:2px;background: #fff;position:relative;}
.infoList2_RT{padding-top:16px;border-bottom:1px solid #dedee4;}
.infoList2_RTsp{padding:16px 0 6px 0;border:none;}
.toprighttitle{zoom:1;}
.toprighttitlel{font-size: 16px;line-height: 44px;float: left;color:#00b0eb;height:44px;}
.toprighttitler{font-size:18px;line-height: 44px;float:right;color:#999;font-weight:bold; }
.progressbar{background:#eeeef4;height:5px;border-radius: 2px;}
.progressbaractive{background:#2ea4d2;height:5px;border-radius: 2px;width:60%;}
.infoList2_RTBox{zoom:1;border-bottom:1px solid #eee;height:34px;line-height: 34px;color:#999;;font-size:14px; }
.infoList2_RTBoxL{float:left;clear:left;position:relative;}
.infoList2_RTBoxR{float:right;}
.infoList2_RTBoxR span{color:#333; font-weight:bold;}
.moneyuse{padding-top:10px;line-height: 34px;font-size: 14px;color:#333;}
#investTip input{width:258px;border:1px solid #dedee4;padding:0 10px 0 0;height:34px;line-height: 34px;font-size: 24px;font-weight: bold;text-align: right;border-radius: 2px;}
.p7{font-size: 12px;line-height:24px;color:#999;padding-right:6px;text-align: right;}
.infoList2_RB_RedBag{padding-top:4px;}
.infoList2_RB_RedBag .mySelect{display:block; height:32px;background: #fff;text-align: left;border:1px solid #d3d3d3;padding-left:36px;line-height: 32px;font-size: 12px;color:#999;background: url(project/redbagbg.png) 12px 8px no-repeat; }
.forsure{height:33px;background:#E7420A;text-align: center;font-size: 16px;color:#fff;border-radius: 2px;margin-top:30px;display:block;line-height:33px;border:1px solid #d23e0c;border-radius: 2px;text-decoration: none;}
.incomedetail{height:32px;line-height: 32px;color:#999;font-size: 12px;text-align: center;}
.toprightT .noticeinfo{font-size:12px;line-height:32px;color:#bfbfbf;text-align:center;}
.onlinedistance{font-size:14px;text-align:left;line-height:34px;padding-top:40px;height:34px;color:#666;}
.toprightb{width:100%;height:40px;color:#999;font-size: 12px;text-align: center;background: #f7f7f7;line-height: 40px;border-top: 1px solid #eee;border-radius:0 0 3px 3px;overflow:hidden;}
.toprightb a{color:#00b0eb;text-decoration: none;}
.timecountbox{height:34px;line-height: 34px;text-align: center;font-size: 14px;color:#666666;}
.timecountf{float:left;width:75px;}
.timecountm{width:120px;float:left;}
.timecountb{float:right;width:75px;}
.onlinegoing{padding-top:40px;height:32px; }
.onlinegoingword{height:16px;width:115px;line-height: 16px;font-size: 12px;float:left;color:#999999;padding-left:20px;}
.onlinegoingwordsp{width:114px;border-right:1px solid #eee;}
i.blue{color:#00b0eb;font-style: normal;}
b.red{color:#e7420a;font-weight: normal;}
.topcontentboxr:after,.topcontentbox:after,.toprighttitle:after,.infoList2_RTBox:after{content:"";display:block;clear:both;}
.protab{display:none;padding-bottom:50px;}	
#CampaignsRadioDiv {display:none;font-size:14px;}
#CampaignsRadioDiv #CampaignsRadio{vertical-align:-2px;margin:8px;}
#CampaignsDiv {display:none;border:none;}
#CampaignsDiv .mySelect{position:relative;z-index:100;}
#CampaignsDiv .mySelect input{color:#9d9d9d;font-size:12px;border:0px;width:232px;height:32px;line-height:32px;*+height:31px;cursor:pointer;padding:0px;}
#CampaignsDiv .mySelect input.acs{color:#2fa3d6;}
#CampaignsDiv .mySelect img{cursor:pointer;}
#CampaignsDiv .mySelect div{border:1px solid #aeaeae;width:300px;display:none;position:absolute;background:#fff;top:32px;top:10px\9;*top:33px;left:-1px;padding:4px;z-index:100;}
#CampaignsDiv .mySelect a{font-size:12px;display:block;text-decoration:none;color:#333;padding:0px 20px;line-height:28px;}
#CampaignsDiv .mySelect a font{float:right;font-size:12px;color:#999}
#CampaignsDiv .mySelect a.acs{color:#2fa3d6;}
#CampaignsDiv .mySelect a:hover{background:#eeeeee;}
.btnpr0{display:block; height:32px; line-height:32px; background:#2fa3d6; color:#fff; font-size:15px; text-align:center; margin:60px 0px 0px 0px;border-radius:2px;}
.btnpr0:hover{background:#2fa9e6;  color:#fff; border-radius:2px;}
a.btnpr1{background:#ebebeb;border-color:#e7e7e7;color:#d2d1d1;margin-top:20px;}
/* .btnpr1:hover{background:#517cff;  color:#fff; border-radius:2px;} */
.btnhk0{display:block; height:32px; line-height:32px; background:#1f925b; color:#fff; font-size:15px; text-align:center; margin:30px 0px 0px 0px;border-radius:2px;}
.btnhk0:hover{background:#46b580;  color:#fff; border-radius:2px;}
.btnhk1{display:block; height:32px; line-height:32px; background:#da8a01; color:#fff; font-size:15px; text-align:center; margin:30px 0px 0px 0px;border-radius:2px;}
.btnhk1:hover{background:#e49c23;  color:#fff; border-radius:2px;}
.btnhk2{display:block; height:32px; line-height:32px; background:#afafaf; color:#fff; font-size:15px; text-align:center; margin:30px 0px 0px 0px;border-radius:2px;}
.btnhk2:hover{background:#bdbbbc;  color:#fff; border-radius:2px;}
.criticism{ margin:0px auto 30px auto;}
.criticism dl { margin-bottom:16px;}
.criticism dl dt{ width:41px; height:41px; float:left; border:1px solid #dedede; overflow:hidden;}
.criticism dl dd{ float:right; width:835px;}
.criticism dl dd span{ color:#2fa4d0;  font-weight: bold; font-size:14px;}
.criticism dl .d1{ height:18px; margin-bottom:5px;}
.criticism dl .d2{  line-height:24px; color:#1c3373; }
.criticism dl .d2 pre{ font-size:14px;}
.criticism dl .d3{height:24px; line-height:24px; color:#bfbfbf;}
.criticism dl .d3 font{ color:#bfbfbf; font-size:12px;font-weight:bold;}
.criticism dl .d4 .text{ width:815px; padding:10px 10px 12px 10px; background:#f2f2f2; position:relative; margin-top:10px;}
.criticism dl .d4 .text .womencall{ width:41px; height:41px; float:left; overflow:hidden;}
.criticism dl .d4 .text .call{ width:764px; float:right;}
.criticism dl .call pre{ font-size:14px;}
.criticism dl .d4 .text .call p{width:820px; line-height:22px; color:#434343;}
.criticism dl .d4 .text .call b{ color:#2fa4d0; font-weight:normal; font-weight: bold; display:block; margin-bottom:8px; }
.criticism dl .d4 .text .call .date{ color:#bfbfbf; }
.criticism dl .d4 .text .call .date font{color:#bfbfbf; font-size:12px;}
.criticism dl .d4 .text .arrows{ width:18px; height:11px; position:absolute; left:8px; top:-10px;}
.criticism .announce{ border-top:1px solid #c5c5c5; margin-top:14px; padding-top:60px;}
.criticism .announce div{height20px; line-height:20px; text-align:center; font-size:16px; }
.criticism .announce dl{ margin-bottom:0px;}
.criticism .announce dl dt{ width:41px; height:41px; float:left; border:1px solid #dedede; overflow:hidden;}
.criticism .announce dl dd{ width:835px; float:right;}
.criticism .announce dl dd textarea{ width:814px; height:76px;  border:1px solid #cbcbcb; padding:10px; color:#bebebe; line-height:22px; }
.criticism .announce .yz{height:38px; padding-top:12px;}
.criticism .announce .yz p{ float:right;}
.criticism .announce .yz span{ height:24px; line-height:24px; text-align:center; float:left; margin-right:10px;}
.criticism .announce .yz .fb{ width:67px; height:25px; line-height:25px; padding:0px; cursor:pointer; text-align:center; float:left; background:#2ea4d4; border:1px solid #3483aa; color:#fff;}
.criticism .announce .yz .fb:hover{background:#2ea4d2;}
textarea:focus{outline:none}
#bigtip{width:180px;}
#bigtip p{line-height:20px;height:20px;padding-left:17px;background:url(icons/circle_info.jpg) no-repeat left center;}
#bigtip p.infom{background-image:url(icons/circle_info.jpg);}
#bigtip p.check{background-image:url(icons/circle_check.jpg);}
#bigtip p.error{background-image:url(icons/circle_error.jpg);color:#e7420a;}
.contentFont{letter-spacing:1px;font-size:13px; color:#666;line-height:23px;padding:0 35px 62px 14px;}
.contentFontspe{padding-bottom:0;}
.mt10{margin-top:44px;}
div.qfqadbox{border:none;}
.qfqad{wdith:100%;}
.qfqad img{width:100%;}
#fxy table{width:100%;margin:20px auto; border-collapse:collapse;}
#fxy th,td{border-right: 1px solid #ddd;padding: 10px 20px;border-bottom: 1px solid #ddd;}
#fxy td{text-align:left; height:30px;}
.jianguan p{font-size:15px; font-weight: bold; color:#000; height:30px;}
.jianguan .yk1{margin-top:24px;}
.jianguan .dr{margin-bottom: 10px; }
.jianguan .dr span{width:4%; min-width:20px; line-height:26px; float:left; }
.jianguan .dr font{line-height:26px; float:left; width:96%;}
