.email_content{padding:20px 10px;}
.email_content_01{text-align: center;}
.email_content_01 input{height: 38px; line-height: 38px; 
	border: 1px solid #DEDEDE;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #fff;
	width: 90%;
	margin: 0 auto;
	padding:3px;
    font-size:18px;
}
.email_content_02{}


/*************/
.merbers_content{width: 100%; background: #fff; margin: 0 auto; height:auto; }

.merbers_content_01{width: 100%; margin: 0 auto; line-height: 50px;
   border-bottom: 3px solid #F1EEEE;}

.merbers_content_01_01{height: 50px; line-height: 50px;}
.merbers_content_a{ display: block;padding: 0px 5px; height: 100%; clear:both;}

.merbers_content_img{height: 40px; width: 40px; position: relative; top: 5px;}

.merbers_content_01_02{height: 50px; line-height: 50px;border-bottom: 1px solid #dedede; clear:both;}


.merbers_content_aim{background: transparent url("../images/new/d_black_right.png") no-repeat scroll 100% 50%;margin-right: 5%;
background-size: 8px 15px;}

.merbers_content_a span{padding-right: 30px; color: #aaa;}

.merbers_content_01 b{display: block;float: left;padding-left: 10px;font-weight: 200;font-size: 1..6rem;}
.merbers_content_01 input{padding: 10px;margin-left: 5%; width: 57%;}
.merbers_content_01_02 input{width: 100%;
	border-radius: 6px;
    height: 50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	color: #fff;
	font-size: 20px;
	letter-spacing: 3px;
}
.merbers_content_01_02 button{width: 90%;
	border-radius: 6px;
    height: 50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	color: #fff;
	font-size: 20px;
	letter-spacing: 3px;
	margin-left: 5%;
}
.merbers_content_01 p{height: 35px;
	line-height: 35px;
	color: #aaa;
	font-size: 14px;
}




/******我的优惠券*******/

.my_yhq{width: 100%; background: #fff padding:20px 0px; margin: 10px auto; background: #fff; min-height: 50px; border-bottom: 1px solid #DEDEDE; border-top: 1px solid #DEDEDE;}
.my_yhq_01{width: 90%; min-height: 150px; margin: 10px auto; color: #fff;}
.my_yhq_01_01{width: 80%; float: left; min-height:130px;padding-top: 20px; margin: 10px auto; background: url(../images/new/help_on_01.png) no-repeat;}
.my_yhq_01_01 h2{ font-size: 12px;
    padding-left: 13px;
    text-indent: 1em;}
.my_yhq_01_01 h3{font-size: 15px;text-align: right; line-height: 30px; padding-right: 20%;}
.my_yhq_01_01 h3 b{font-size: 20px;}
.my_yhq_01_01 p{padding-left: 10%; }
.my_yhq_01_02{width: 19%; border-left: 2px dashed #fff; padding: 36px 0px;font-size: 18px; text-align: center; color: #fff; float: left; min-height: 78px; margin: 10px auto; background: url(../images/new/help_on_02.png) no-repeat 100% 0%;}
.my_yhq_01_02 p{width: 20px; margin-left: 30%;}

/******我的优惠券*******/
.approve_rz{ 
	width: 80%;
	padding: 10px 20px;
	border: 1px solid #DEDEDE;
	background: #fff;
	margin: 20px auto;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.approve_rz_01{height: 45px; line-height: 45px;border-bottom: 1px solid #DEDEDE; clear: both;}
.approve_rz_01 b{display:block; width: 75px; font-size: 14px; float: left;font-weight:normal;color:#a7abae;}
.approve_rz_02 b{display:block; width: 75px; font-size: 14px; float: left;font-weight:normal;color:#a7abae;}
.approve_rz input{float: left; border: none; padding: 5px; line-height: 35px;font-size:16px;}
.approve_rz_02{height: 45px; line-height: 45px;clear: both;}
.approve_rz_03{ margin: 10px auto;padding:0 1rem}
.approve_rz_03 input{width: 100%; height: 45px; line-height: 45px; border: none; font-size:20px;letter-spacing: 5px; color: #fff;border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;}
	.approve_rz_03 button{width: 100%; height: 45px; line-height: 45px; border: none; font-size:20px;letter-spacing: 5px;border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;}

/***************************/
.apply_rz{ background: #fff; padding: 10px 20px;}

.apply_rz input{float: left; border: none; padding: 5px; line-height: 35px;}
.apply_rz_01 b{display: block;height: 35px; line-height: 35px;}


/***************************/
.my_phone{padding: 10px 20px;}
/*.my_phone_01{height: 45px;line-height: 45px; margin: 10px auto; background: #fff;}*/
.my_phone input{ border: 1px solid #ededed; padding: 5px; line-height: 35px;
	}
.my_phone_01 b{display: block;height: 45px; line-height:45px; font-size: 14px;}

.bor_ra{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}


/***************************/

.add_bank{ background: #fff;margin-top: 20px;}
.add_bank h2{height: 40px; line-height: 40px; font-weight:200;font-size: 15px; text-indent: .7em;border-bottom: 2px solid #F1EEEE;}
.add_bank_01{
	border-bottom: 2px solid #F1EEEE;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	height: 40px;
	line-height: 40px;
	margin: 5px auto;
}
.add_bank_01 b{ display: block;float: left; font-size: 15px; text-indent: .7em;font-weight: 200;}
.add_bank_01 .select_01{float: right; width: 65%; height: 30px; line-height: 30px;color:#5A5A5A;margin-top: 2px;border-radius: 5px;margin-right: 10px;}
.add_bank_01 input{border:none;float: right; width: 67%; height: 45px; line-height: 45px;color:#5A5A5A; textarea:-webkit-autofil}
.add_bank_01 select{border:1px solid #ccc}
.add_bank_01 select option{padding: 6px; }


.city_01{
    border:none;float: right;;
    width: 65%; height: 30px; line-height: 30px;color:#5A5A5A;
    margin-top: 1px;border-radius: 5px;margin-right: 10px;
    border: none;

}


.city_02{
    border:none;float: right;;
    width: 65%; height: 30px; line-height: 30px;color:#5A5A5A;
    margin-top: 1px;border-radius: 5px;margin-right: 10px;
    border: none;
}


/************交易记录***************/

.jyjl{width: 50%; margin: 0 auto; font-weight: 700; font-size: 16px; text-align: center; height: 35px;line-height: 35px;}

.approve_jyjl{
    width: 80%;
    padding: 10px 20px;
    border: 1px solid #DEDEDE;
    background: #fff;
    margin: 10px auto 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    line-height: 45px;border-bottom: 1px solid #DEDEDE; clear: both;
}
.approve_jyjl b{display:block; width: 120px; font-size: 15px; float: left;}
.col_gre{color: #51ED4E;}
.approve_jyjl_01 p{line-height: 25px;font-size: 13px;}
.approve_rz_01 span{ font-size: 14px;}



































